<footer class="footer">
  <div class="container">
    <span class="text-muted">Departments</span>
    <span class="text-muted ml-5">Şöbə</span>
    <span class="text-muted ml-5">Sektor</span>
    <span class="text-muted ml-5">Bölmə</span>
    <a href="https://www.facebook.com/AzerbaycanRespublikasininDovletReklamAgentliyi/" target="_blank" class="text-muted facebook"><img src="assets/facebook.jpg" height="30" width="30"></a>
    <a href="https://www.youtube.com/channel/UCLT8P-rlij62W-daKI71rew" target="_blank" class="text-muted ml-3"><img src="assets/youtube.png" height="28" width="28"></a>
    <a href="https://www.instagram.com/adra.gov.az/" target="_blank" class="text-muted ml-3"><img src="assets/instagram.png" height="25" width="25"></a>
    <a href="https://twitter.com/adragovaz" target="_blank" class="text-muted ml-3"><img src="assets/twitter.png" height="27" width="27"></a>
  </div>
</footer>
