<app-admin-panel></app-admin-panel>
<h4 class="titleText">Parametrlər <img src="assets/settings.png" height="25" width="25"/> </h4>
<hr />
<br />
<form class="inputGroupSize">
  <div class="ml-5">
    <div class="ml-5 ">
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Telefon nömrəm</span>
  </div>
  <input type="text" maxlength="10" value="077-556-21-21" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text profileText">Profil şəkilini dəyiş</span>
  </div>
  <input type="file" class="fileChoose" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Yeni şifrə</span>
  </div>
  <input type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Yeni şifrəni təkrarla</span>
  </div>
  <input type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>
  <button type="button" class="btn btn-primary btn-sm refreshButton">Yenilə</button>
    </div>
  </div>
</form>
