<app-admin-panel></app-admin-panel>
<h4 class="titleText">Paylaşımlar</h4>
<hr />
<table class="table tableSize">
  <thead class="thead-dark">
  <tr>
    <th scope="col">{{number}}</th>
    <th scope="col">{{picture}}</th>
    <th scope="col" class="authorMargin">{{Author}}</th>
    <th scope="col" class="postTitle">{{Title}}</th>
    <th scope="col" class="descriptionTitle">{{Description}}</th>
    <th scope="col">{{More}}</th>
    <th scope="col">{{Delete}}</th>
  </tr>
  </thead>
  <tbody *ngFor="let postsItem of postDetail">
  <tr>
    <th scope="row">{{postsItem.postNumber}}</th>
    <td><img [src]="postsItem.postPicture" height="40" width="40" /></td>
    <td>{{postsItem.postAuthor}}</td>
    <td class="postTitleDescription">{{postsItem.postTitle}}</td>
    <td class="postDescription">{{postsItem.postDescription}}</td>
    <td><a href="#" title="Ətraflı bax"><img [src]="postsItem.postMore" height="40" width="40" /></a></td>
    <td title="Paylaşımı sil"><img [src]="postsItem.postDelete" height="20" width="20" class="deleteCursor" /></td>
  </tr>
  </tbody>
</table>
