.titleText{
  padding: 10px 0 0 250px;
}
.tableSize{
  width: 80%;
  margin-left: 250px;
}
.description{
  width: 350px;
  overflow:hidden;
  display:inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.descriptionTitle{
  padding-left: 140px;
}
.titleMenu{
  padding-left: 100px;
}
.titleItems{
  font: normal 18px Calibri;
  word-break: break-word;
}
.authorPadding{
  padding-left: 30px;
}
.moreIcon{
  margin-top: -6px;
  cursor: pointer;
}
.deleteIcon{
  cursor: pointer;
}
