<app-admin-panel></app-admin-panel>
<h4 class="titleText">Elanlar</h4>
<hr />
<button type="button" class="btn btn-secondary btn-sm addButton" routerLink="/sigin/adminpanel/advertisements/marquee">+ Elan əlavə et</button>
<table class="table tableSize">
  <thead class="thead-dark">
  <tr>
    <th scope="col">{{Number}}</th>
    <th scope="col" class="title">{{Title}}</th>
    <th scope="col" class="descriptionTitleSub">{{Description}}</th>
    <th scope="col" class="statusTitle">{{Status}}</th>
    <th scope="col">{{Edit}}</th>
    <th scope="col">{{Delete}}</th>
  </tr>
  </thead>
  <tbody *ngFor="let advertisementItem of advertisements">
  <tr>
    <th scope="row">{{advertisementItem.number}}</th>
    <td class="titleItems">{{advertisementItem.title}}</td>
    <td class="descriptionItems">{{advertisementItem.description}}</td>
    <td class="statusItems">{{advertisementItem.status}}</td>
    <td title="Elanı redaktə et" routerLink="/sigin/adminpanel/advertisements/editadvertisements" ><img class="editImg" [src]="advertisementItem.edit" height="25" width="25" /></td>
    <td title="Sil" class="deleteImg"><img [src]="advertisementItem.delete" height="20" width="20" /></td>
  </tr>
  </tbody>
</table>
