
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <b class="navbar-brand col-sm-3 col-md-2 mr-0 nameColor overflowFullName">{{fullname}}</b>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="signOut" (click)="logOut()" routerLink="/sigin">&#8594;{{signOut}}</a>
    </li>
  </ul>
</nav>

<div class="container-fluid" *ngFor="let menuList of menulist">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/sigin/adminpanel/personal" routerLinkActive="active">
              {{menuList.personalInformation}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/sigin/adminpanel/news" routerLinkActive="active">
              {{menuList.news}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/sigin/adminpanel/posts" routerLinkActive="active">
              {{menuList.post}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              {{menuList.activate}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
            {{menuList.marquee}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
            {{menuList.ideaComplaint}}
            </a>
          </li>
        </ul>

        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              {{menuList.reserve}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              {{menuList.setting}}
            </a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">-->
<!--              <span data-feather="file-text"></span>-->
<!--              Social engagement-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">-->
<!--              <span data-feather="file-text"></span>-->
<!--              Year-end sale-->
<!--            </a>-->
<!--          </li>-->
        </ul>
      </div>
    </nav>
  </div>
</div>
